.marquee_home {
  background: #0C0301;
  overflow: hidden;
}

.marquee_text {
  /* NEWS */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 1.667vw;
  color: #FFFFFF;
  margin-left: 0.625vw;

}

.marquee_logo {
  width: 35px;
  background: #0C0301;
  margin-left: 0.625vw;
}

@media (max-width: 991px) {
  .marquee_logo {
    width: 6.906vw;
  }

  .marquee_text {
    font-size: 4.42vw;
  }
}