.tourWidget {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.logoFechas {
    height: 0px;
    width: 0px;
    position: relative;
    top: 100px;
    left: 40px;
    z-index: 100;
}

@media (max-width: 991px) {
    .logoSize {
        width: 150px;
    }

    .logoFechas {
        top: 150px;
    }
}

@media (max-width: 700px) {
    .logoSize {
        width: 88px;
    }

    .logoFechas {
        top: 220px;
    }
}