.texto {
    width: 100%;
border-radius: 20px;
    background-color: white;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5%;
    padding-bottom: 5%;


}
.texto > p {
font-family: "Roboto";
font-size: 1.667vw;
font-weight: 500;
line-height: 1.944vw;
letter-spacing: 0em;
text-align: center;

}
.images_bio{
    width: 30%;
}
.image{
    padding-left: 8%;
padding-right: 8%;
width: 100%;

}
@media (max-width: 700px) {
    .image {
        background-image: url("../../../public/img/biografia_relay_m.png");
    }
}
@media (min-width: 701px) {
    .image {
        background-image: url("../../../public/img/biografia_relay.png");

    }

}