.container_image_bio {
    position: relative;
    width: 30vw;
    max-width: 30%;
    display: table-cell;

  }
  .table{
    display: table;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000b0 !important;
  }

  .container_image_bio:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 1.667vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.texto {
    width: 100%;
border-radius: 20px;
    background-color: white;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5%;
    padding-bottom: 3%;
    margin-top: 3%;


}
.texto > p {
font-family: "Roboto";
font-size: 1.667vw;
font-weight: 500;
line-height: 1.944vw;
letter-spacing: 0em;
text-align: center;

}

.biografia{
    padding-left: 8%;
padding-right: 8%;
width: 100%;
padding-top: 3%;
padding-bottom: 3%;

}
@media (max-width: 700px) {
    .biografia {
        background-image: url("../../../public/img/biografia_relay_m.png");
        background-size: cover;
    }
    .texto > p {
        font-size: 3vw;
        line-height: 4vw;

    }
}
@media (min-width: 701px) {
    .biografia {
        background-image: url("../../../public/img/biografia_relay.png");
        background-size: contain;

    }

}